<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header card-header-danger">
                        <h4 class="card-title">Share Point</h4>
                        <p class="card-category">Knowledge Sharing Portal</p>
                    </div>
                    <div class="card-body">
                        <div id="typography">
                            <div class="card-title">
                                <h2>My Share Point</h2>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <form [formGroup]="form" (ngSubmit)="onSubmit(form.value)">
                                        <div class="row">
                                            <div class="col-md-8">
                                                <mat-form-field class="example-full-width">
                                                    <input matInput placeholder="Topic" formControlName="ctrltopic"
                                                        type="text" required>
                                                </mat-form-field>
                                            </div>
                                            <div class="col-md-4" *ngIf="role == 'KM Admin'">
                                                <mat-form-field class="example-full-width">
                                                    <mat-select placeholder="Select Role" formControlName="ctrlrole"
                                                        required>
                                                        <mat-option *ngFor="let row of rows" [value]="row.Name"
                                                            (click)="selectInput(row.Name)">
                                                            {{ row.Name }}
                                                        </mat-option>
                                                    </mat-select>
                                                </mat-form-field>
                                            </div>
                                            <div class="col-md-4" *ngIf="role != 'KM Admin'">
                                                <mat-form-field class="example-full-width">
                                                    <input matInput placeholder="Role Type" formControlName="ctrlrole"
                                                        type="text" [(ngModel)]="role" required readonly>
                                                </mat-form-field>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-12">
                                                <mat-form-field class="example-full-width">
                                                    <input matInput placeholder="Abstract"
                                                        formControlName="ctrlabstract" type="text" required>
                                                </mat-form-field>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <!-- <div class="col-md-12">
                                                <mat-form-field class="example-full-width" appearance="outline">
                                                    <mat-label>
                                                        Attach File
                                                    </mat-label>
                                                    <ngx-mat-file-input formControlName="ctrlattachedfile" #AttchFile
                                                        (change)="onFileChange($event)">
                                                    </ngx-mat-file-input>
                                                    <button mat-icon-button matSuffix *ngIf="!AttchFile.empty"
                                                        (click)="AttchFile.clear($event)">
                                                        <mat-icon>clear</mat-icon>
                                                    </button>
                                                </mat-form-field>
                                            </div> -->
                                            <div class="col-md-12">
                                                <input matSelect placeholder="Select Document"
                                                    formControlName="ctrlattachedfile" type="file"
                                                    (change)="onChange($event)">
                                            </div>
                                        </div>
                                        <button mat-raised-button type="submit" class="btn btn-danger pull-right"
                                            [disabled]="form.invalid">Share File
                                        </button>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header card-header-danger">
                        <h4 class="card-title">Stream Point</h4>
                        <p class="card-category">Knowledge Sharing Portal</p>
                    </div>
                    <div class="card-body">
                        <div id="stream">
                            <div class="card-title">
                                <h2>My Stream Point</h2>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <form [formGroup]="form2" (ngSubmit)="ShareData(form2.value)">
                                        <div class="row">
                                            <div class="col-md-8">
                                                <mat-form-field class="example-full-width">
                                                    <input matInput placeholder="Topic" formControlName="ctrltopic"
                                                        type="text" required>
                                                </mat-form-field>
                                            </div>
                                            <div class="col-md-4" *ngIf="role == 'KM Admin'">
                                                <mat-form-field class="example-full-width">
                                                    <mat-select placeholder="Select Role" formControlName="ctrlrole"
                                                        required>
                                                        <mat-option *ngFor="let row of rows" [value]="row.Name"
                                                            (click)="selectInput(row.Name)">
                                                            {{ row.Name }}
                                                        </mat-option>
                                                    </mat-select>
                                                </mat-form-field>
                                            </div>
                                            <div class="col-md-4" *ngIf="role != 'KM Admin'">
                                                <mat-form-field class="example-full-width">
                                                    <input matInput placeholder="Role Type" formControlName="ctrlrole"
                                                        type="text" [(ngModel)]="role" required readonly>
                                                </mat-form-field>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-12">
                                                <mat-form-field class="example-full-width">
                                                    <input matInput placeholder="Abstract"
                                                        formControlName="ctrlabstract" type="text" required>
                                                </mat-form-field>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <!-- <div class="col-md-12">
                                                <mat-form-field class="example-full-width" appearance="outline">
                                                    <mat-label>
                                                        Attach File
                                                    </mat-label>
                                                    <ngx-mat-file-input formControlName="ctrlattachedfile" #AttchFile
                                                        (change)="onFileChange($event)">
                                                    </ngx-mat-file-input>
                                                    <button mat-icon-button matSuffix *ngIf="!AttchFile.empty"
                                                        (click)="AttchFile.clear($event)">
                                                        <mat-icon>clear</mat-icon>
                                                    </button>
                                                </mat-form-field>
                                            </div> -->
                                            <div class="col-md-12">
                                                <mat-form-field class="example-full-width">
                                                    <input matInput placeholder="Stream Link"
                                                        formControlName="ctrlattachedfile" type="text" required>
                                                </mat-form-field>
                                            </div>
                                        </div>
                                        <button mat-raised-button type="submit" class="btn btn-danger pull-right"
                                            [disabled]="form2.invalid">Share Video
                                        </button>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>