<!--<div mat-dialog-title>-->
<!--    <div [mat-dialog-close]="true" class="d-flex justify-content-end" mat-button>-->
<!--        <mat-icon>close</mat-icon>-->
<!--    </div>-->
<!--</div>-->
<div class="container">
    <div class="row">

        <div class="mb-3 text-center">
            <h4><strong>Add a New Password</strong></h4>
        </div>

        <form [formGroup]="changePasswordForm" (ngSubmit)="onChangePassword()">

            <div class="mb-1 d-flex flex-column">
                <mat-form-field>
                    <mat-label>Enter Password</mat-label>
                    <input [type]="hide ? 'password' : 'text'" matInput placeholder="Password"
                           formControlName="password" required>
                    <button (click)="hide = !hide" [attr.aria-label]="'Hide password'"
                            [attr.aria-pressed]="hide" mat-icon-button matSuffix>
                        <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                    </button>
                </mat-form-field>
            </div>

            <div class="mb-1 d-flex flex-column">
                <mat-form-field>
                    <mat-label>Confirm Password</mat-label>
                    <input [type]="hide ? 'password' : 'text'" matInput placeholder="Confirm Password"
                           formControlName="password" required>
                    <button (click)="hide = !hide" [attr.aria-label]="'Hide password'"
                            [attr.aria-pressed]="hide" mat-icon-button matSuffix>
                        <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                    </button>
                </mat-form-field>
            </div>

            <div class="d-flex align-items-center justify-content-center">
                <button mat-raised-button
                        type="button"
                        class="btn btn-primary pull-right">Done
                </button>
            </div>

        </form>
    </div>
</div>
