

<form [formGroup]="addUserForm" (ngSubmit)="onAddUser()">
    <div class="card-header card-header-warning mb-3">
        <h4 class="card-title">ADD USER</h4>
    </div>
    <div class="row">
        <div class="col-md-6">
            <mat-form-field class="example-full-width">
                <input matInput placeholder="First Name" formControlName="ctrlcompany" type="text"
                       required>
            </mat-form-field>
        </div>
        <div class="col-md-6">
            <mat-form-field class="example-full-width">
                <input matInput placeholder="Last Name" formControlName="ctrluserName"
                       type="text">
            </mat-form-field>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <mat-form-field class="example-full-width">
                <input matInput placeholder="Address" formControlName="ctrlrole" type="text"
                       required>
            </mat-form-field>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <mat-form-field class="example-full-width">
                <input matInput placeholder="Email address" formControlName="ctrlemail"
                       type="email" required>
            </mat-form-field>
        </div>
        <div class="col-md-6">
            <mat-form-field class="example-full-width">
                <input matInput placeholder="Phone" formControlName="ctrlName" type="number"
                       required>
            </mat-form-field>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <mat-form-field class="example-full-width">
                <input matInput placeholder="User Role" formControlName="ctrlSurname" type="text">
            </mat-form-field>
        </div>
        <div class="col-md-6">
            <mat-form-field class="example-full-width">
                <input matInput placeholder="Gender" formControlName="ctrladdress" type="text"
                       required>
            </mat-form-field>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <mat-form-field class="example-full-width">
                <input matInput placeholder="Birthday" formControlName="ctrlbod" type="date"
                       required>
            </mat-form-field>
        </div>
    </div>
    <button mat-raised-button type="submit" class="btn btn-danger pull-right" [disabled]="addUserForm.invalid">Add User
    </button>
    <div class="clearfix"></div>

</form>

