<div class="main-content">
    <div class="container-fluid">

        <div class="row">
            <div class="col-md-12" style="text-align: end;">
                <button (click)="onAddUser()" mat-raised-button type="submit" class="btn btn-danger">
                    Add User
                </button>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <div class="card card-chart">
                    <div class="card-header card-header-danger">
                        Search User
                        <!-- <div class="ct-chart" id="dailySalesChart"></div> -->
                    </div>
                    <div class="card-body">
                        <h4 class="card-title">Find Now!</h4>
                        <p class="card-category">
                            User details Filter
                        </p>
                    </div>
                    <div class="card-footer">
                        <div class="stats">
                            <mat-form-field class="example-full-width">
                                <input matInput placeholder="Search User Details" #search id="search">
                            </mat-form-field>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header card-header-danger">
                        <h4 class="card-title">Employee Stats</h4>
                    </div>
                    <div class="card-body table-responsive">
                        <ngx-datatable #myTable class="material" class="material" [headerHeight]="50" [limit]="10"
                            [columnMode]="'force'" [footerHeight]="50" [rowHeight]="'75'" [rows]="rows"
                            [sorts]="[{prop: 'name', dir: 'desc'}]">
                            <!-- <ngx-datatable-column name="Doc Id" [width]="20">
                                <ng-template let-row="row" ngx-datatable-cell-template>
                                    {{row.Id}}
                                </ng-template>
                            </ngx-datatable-column> -->
                            <ngx-datatable-column name="User Name">
                                <ng-template let-row="row" ngx-datatable-cell-template>
                                    {{row.UserName}}
                                </ng-template>
                            </ngx-datatable-column>
                            <ngx-datatable-column name="User Role">
                                <ng-template let-row="row" ngx-datatable-cell-template>
                                    {{row.UserRole}}
                                </ng-template>
                            </ngx-datatable-column>
                            <ngx-datatable-column name="Email">
                                <ng-template let-row="row" ngx-datatable-cell-template>
                                    {{row.Email}}
                                </ng-template>
                            </ngx-datatable-column>
                            <ngx-datatable-column name="Full Name">
                                <ng-template let-row="row" ngx-datatable-cell-template>
                                    {{row.Name}} {{row.Surname}}
                                </ng-template>
                            </ngx-datatable-column>>
                            <ngx-datatable-column name="BOD">
                                <ng-template let-row="row" ngx-datatable-cell-template>
                                    {{row.Birthday}}
                                </ng-template>
                            </ngx-datatable-column>
                            <ngx-datatable-column name="Gender">
                                <ng-template let-row="row" ngx-datatable-cell-template>
                                    <a *ngIf="row.Gender == 'male'">M</a>
                                    <a *ngIf="row.Gender == 'female'">F</a>
                                </ng-template>
                            </ngx-datatable-column>
                            <ngx-datatable-column name="Company">
                                <ng-template let-row="row" ngx-datatable-cell-template>
                                    {{row.Company}}
                                </ng-template>
                            </ngx-datatable-column>
                            <ngx-datatable-column name="Phone">
                                <ng-template let-row="row" ngx-datatable-cell-template>
                                    {{row.Phone}}
                                </ng-template>
                            </ngx-datatable-column>
                            <ngx-datatable-column name="Active Status">
                                <ng-template let-row="row" ngx-datatable-cell-template>
                                    <span *ngIf="row.isActive != 1" class="badge badge-danger">Active</span>
                                    <span *ngIf="row.isActive == 1" class="badge badge-dark">Inactive</span>
                                </ng-template>
                            </ngx-datatable-column>
                            <ngx-datatable-column>
                                <ng-template let-row="row" ngx-datatable-cell-template>
                                    <!-- <span *ngIf="row.isDeleted == 1" class="badge badge-dark">Block</span> -->
                                    <a *ngIf="row.isActive != 1" (click)="DeleteUser(row)">
                                        <button type="button" class="btn btn-sm btn-danger">Delete</button>
                                    </a>
                                </ng-template>
                            </ngx-datatable-column>
                        </ngx-datatable>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>