<div class="main-content">
    <div class="container-fluid">

        <div class="row">
            <div class="m-3">
                <button
                        (click)="onAddUser()"
                        mat-raised-button
                        type="submit"
                        class="btn btn-danger">
                    Add User
                </button>
            </div>
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header card-header-warning">
                        <h4 class="card-title">Employee Stats</h4>
                    </div>
                    <div class="card-body table-responsive">
                        <table class="table table-hover">
                            <thead class="text-warning">
                            <th>ID</th>
                            <th>Name</th>
                            <th>Address</th>
                            <th>Email</th>
                            <th>Gender</th>
                            <th>Phone</th>
                            <th>User Role</th>
                            </thead>
                            <tbody>
                            <tr>
                                <td>1</td>
                                <td>Dinuka</td>
                                <td>115A</td>
                                <td>din@gmail.com</td>
                                <td>male</td>
                                <td>071452586</td>
                                <td>KM Admin</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
